body { overflow: hidden; user-select: none; margin: 0; padding: 0; }

body { overflow: hidden; user-select: none; margin: 0; padding: 0; }

#tablet-container {
    position: absolute;
    bottom: 5%; right: 5%;
    /* Pevné rozměry 4:3 (iPad style) */
    width: 1024px;
    height: 768px;
    z-index: 1000;
}

.tablet-frame {
    width: 100%; height: 100%;
    position: relative;
    overflow: hidden;
    display: flex; flex-direction: column;
    box-sizing: border-box;
}

#os-content {
    display: flex; flex-direction: column;
    height: 100%;
    width: 100%;
}

.screen {
    flex-grow: 1; /* Roztáhni se na zbytek místa */
    position: relative; 
    overflow: hidden;
    display: flex; flex-direction: column;
    background-color: #000; /* Fallback barva */
}


.status-bar {
    height: 25px; display: flex; justify-content: space-between; align-items: center; padding: 0 10px;
    font-size: 12px;
}

.app-grid {
    display: grid; grid-template-columns: repeat(6, 1fr);
    padding: 20px; gap: 15px;
    max-height: 100%; overflow-y: auto;
}

.app-icon {
    display: flex; flex-direction: column; align-items: center;
    cursor: pointer; text-align: center;
}

/* Utils */
.hidden-view { display: none !important; }
.active-view { display: block !important; }

#app-content { width: 100%; height: 100%; overflow-y: auto; }

/* Boot Screen */
#boot-screen {
    position: absolute; top:0; left:0; width:100%; height:100%;
    z-index: 999;
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}